[submodule "lora-scripts"]
	path = lora-scripts
	url = https://github.com/liaosunny123/lora-scripts
[submodule "sd-webui"]
	path = sd-webui
	url = https://github.com/liaosunny123/stable-diffusion-webui.git
