[submodule "lora-scripts"]
	path = lora-scripts
	url = https://github.com/liaosunny123/lora-scripts
[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = https://github.com/liaosunny123/stable-diffusion-webui.git
